body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.domain-listings {
  padding: 20px;
}

.domain {
  border: 1px solid #ccc;
  border-radius: 10px; /* Smoothen the rectangle around the domains */
  padding: 10px;
  margin-bottom: 10px;
  display: flex; /* Align icon and domain name horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 20px; /* Add margin between each domain */
}

.icon {
  font-size: 1.5em; /* Size of the emoji icons */
  margin-right: 10px; /* Space between icon and domain name */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}